@import '../../../couleurs.scss';
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 0px 3px 5px rgba(137,66,66,0.5);
  a{
    font-size: 30px;
    color: $texte;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
  }
  .rejoindre{
    padding: 15px;
    background-color: $peche;
    color: $blanc;
    font-size: 16px;
    border-radius: 33px;
    border: none;
    margin-right: 25px;
    box-shadow: 0px 3px 5px rgba(137,66,66,0.8);
  }
}
