<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-tab-group>
        <mat-tab label="Anonyme"> 

            <div class = container>
                <div class = card>
                  <div class = image>
                    <img href = "#" src =" https://i.pinimg.com/originals/a4/7b/a5/a47ba59b4a353e0928ef0551ca44f980.jpg">
                  </div>
                  <div class = content>
                    <h3>Message de pika@34</h3>
                    <p>pika@34 veut jouer avec toi ! Rejoins-le via le bouton suivant en invité.</p>
                    <button mat-raised-button color="accent">Rejoindre</button>
                  </div>
                </div>    
              </div>

           
        </mat-tab>
            
        <mat-tab label="Connecte-toi"> <app-login></app-login> </mat-tab>
        <mat-tab label="Inscris-toi">  <app-register></app-register> </mat-tab>
      </mat-tab-group>
      
</div>