@import '../../../couleurs.scss';

h2,div{

  color: $blanc;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2{
  font-size: 35px;
}

.affichage_podium{
  margin-top: 300px;
  width: 100%;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  .place{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-image: url('https://vectorified.com/images/avatar-icon-png-13.png');
      border: solid $vert_clair;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 25px;
    }

    .seconde_place, .premiere_place,.troisieme_place{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .seconde_place{
      height: 200px;
      background-color: $podium_second;
    }
    .premiere_place{
      height: 300px;
      background-color: $podium_premier;
    }
    .troisieme_place{
      height: 150px;
      background-color: $podium_troisieme;
    }
  }




}
