$moutarde : #F6BB42;
$vert_clair : #63BDA6;
$vert_fonce : #089E79;
$vert_champ : #AEFBE8;
$corail : #f08080;
$lavande : hsl(257, 58%, 67%);
$blanc : #fff;
$noir : #000;

$podium_premier : #8cc152;
$podium_second : #37bc9b;
$podium_troisieme : #3bafda;


$gris_fonce : #616161;
$gris_medium : #909090;
$gris : #AEAEAE;
$peche : #ffcba4;
$peche_sombre : #CFA593;
$gris_clair : #f1f1f1;
$orange : #FCA37D;
$texte : #894242;
