$moutarde : #F6BB42;
$vert_clair : #63BDA6;
$vert_fonce : #089E79;
$vert_champ : #AEFBE8;
$corail : #ED5565;
$lavande : #967ADC;
$blanc : #fff;
$noir : #000;

$podium_premier : #8cc152;
$podium_second : #37bc9b;
$podium_troisieme : #3bafda;
