<app-joueur></app-joueur>
<div class="container_loading">
  <h3>Extrait N°</h3>
  <div class="Loading"></div>
</div>
<div id="container_reponse">
  <div id="reponse">
    <div class="response">
      <h3><label for="titre">Titre de la musique</label></h3>
      <input type="text" name="titre" placeholder="Titre de la musique" class="reponse">
    </div>
    <div class="response">
    <h3><label for="artiste">Nom de l'artiste</label></h3>
      <input type="text" name="artiste" placeholder="nom de l'artiste" class="reponse ">
    </div>
  </div>
  <input type="submit" name="Valider" value="Valider" id="envoyer" class="btn-generate">
</div>
