<div id="joueurs">
  <div *ngFor="let joueur of joueurs" class="liste_joueur">
      <h3>{{joueur.nom}}</h3>
      <h3>{{joueur.points}}</h3>
  </div>
</div>
<div class="container_loading">
  <div class="Loading"></div>
</div>
<div id="reponse">
  <div>
    <h3><label for="titre">Titre de la musique</label></h3>
    <input type="text" name="titre" placeholder="Titre de la musique" class="reponse">
  </div>
  <div>
  <h3><label for="artiste">Nom de l'artiste</label></h3>
    <input type="text" name="artiste" placeholder="nom de l'artiste" class="reponse">
  </div>
</div>
